BYPASS_ROUTER_WEB_DIR=/opt/bypass-router-web
BYPASS_ROUTER_WATCHDOG=/usr/local/sbin/bypass-router-watchdog
BYPASS_ROUTER_IPV4={{ROUTER_IPV4}}
BYPASS_ROUTER_LAN_CIDR={{LAN_CIDR}}
BYPASS_ROUTER_ALLOW_TAILSCALE={{ENABLE_TAILSCALE_ACCESS}}
BYPASS_ROUTER_CLIENT_SCOPE=所有使用 {{ROUTER_IPV4}} 作为 IPv4 网关的局域网设备
MIHOMO_API=http://127.0.0.1:{{MIHOMO_CONTROLLER_PORT}}
ADGUARD_API=http://127.0.0.1:{{ADGUARD_WEB_PORT}}
